@font-face {
    font-family: "DidactGothic";
    src: url("./fonts/Didact_Gothic/DidactGothic.ttf");
    font-style: normal;
}
html {
    height: 100%;
}
body {
    background-image: url("../data/david-everett-strickler-igCBFrMd11I-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'DidactGothic', serif;
    height: calc(100% - 1em);
    color: #555;
    overflow:hidden;
    display:flex;
}
.modal {
    color: black;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
}
.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 3%;
    width: 30%;
}
.modal-list {
    margin-bottom: 5%;
}
.start-bot {
    padding: 1em 2em;
    margin: auto;
    display: block;
}
.chatbox {
    margin: auto;
    position: relative;
    background-color:rgba(255, 255, 255, .8);
    width: 60%;
    height: 80%;
}
.title {
    text-align: center;
}
.messages {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100%;
    height: 77%;
    overflow: auto;
}
.name {
    font-size: 22px;
    padding-left: 1%;
    vertical-align: middle;
    display: inline;
}
.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    display: inline;
}
.controls {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    height: 5%;
}
.message-text {
    margin-top: 2%;
    margin-bottom: 5%;
}
.write-topic {
    height: 100%;
    width: 85%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
}
.send-input {
    height: 100%;
    width: 15%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    border: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    font-family: 'DidactGothic', serif;
    transition-duration: 0.4s;
}
input {
    font-size: 13px;
    font-family: 'DidactGothic', serif;
    text-indent: 2%;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    font-size: 12px;
}